body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(206, 206, 206);
  font-family: "Balsamiq Sans", cursive;
}

/* CSS for Navbar in all pages */
.navbar {
  background-color: rgb(0, 0, 0);
  margin-top: 0px;
}

.navbar ul {
  overflow: auto;
  margin-top: 0px;
  padding-bottom: 12px;
  padding-top: 12px;
}

.navbar li {
  list-style: none;
  float: left;
  margin: 6px 6px;
  padding: 4px 4px;
  font-size: 18px;
}
.navbar li:hover {
  transform: scale(1.1);
}

.navbar li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 3px 3px;
  padding: 4px 4px;
}

.navbar li a:hover {
  color: rgb(190, 189, 189);
  cursor: pointer;
  background-color: rgba(228, 220, 220, 0.144);
  border-radius: 25px;
}

.navbar li a:active {
  color: rgba(233, 226, 222, 0.657);
  transform: scale(1.2);
}

span {
  color: red;
}

.search {
  border: 4px;
  float: right;
  margin: 10px 170px;
}
.navbar input {
  border-radius: 10px;
  font-family: "Handlee", cursive;
  padding: 0px 16px;
  margin-left: 13px;
}

.navbar input:hover {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-family: "Handlee", cursive;
  padding: 0px 16px;
  transform: scale(1.1);
  border: none;
}

.navbar input:active {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-family: "Handlee", cursive;
  padding: 0px 16px;
  transform: scale(1.1);
  border: none;
}

/* Navbar logo  */
.logo {
  width: 38px;
  height: 38px;
  float: left;
  margin: 2px;
}

.logo:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* Css for Home section */

#home {
  display: flex;
  flex-direction: column;
  padding: 200px;
  justify-content: center;
  align-items: center;
}

#home::before {
  content: "";
  position: absolute;
  background: url(../images/food.png) no-repeat center center/cover;
  height: 600px;
  width: 600px;
  z-index: -1;
  opacity: 0.2;
  margin-bottom: 12px;
}

/* utility class */

/* CSS for h1 tag */

.h1primary {
  color: rgb(49, 3, 3);
  font-size: 2.1rem;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}
.h1primary:hover {
  background-color: rgba(187, 186, 186, 0.411);
  border-radius: 15px;
  color: white;
  cursor: pointer;
  transform: scale(1.2);
}

/* CSS for para tag */

.tagline-1 {
  color: snow;
  margin-bottom: 2px;
  background-color: rgba(71, 71, 71, 0.527);
  border-radius: 25px;
  padding-left: 12px;
  padding-right: 12px;
}
.tagline-2 {
  color: white;
  margin-top: 0px;
  background-color: rgba(71, 71, 71, 0.609);
  border-radius: 25px;
  padding-left: 12px;
  padding-right: 12px;
}

.tagline-1:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.tagline-2:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.btn {
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  border-radius: 19px;
  margin: 12px;
  padding: 6px 12px;
  font-family: "Balsamiq Sans", cursive;
}
.btn:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}
/* footer */

.end {
  display: block;
  bottom: opx;
  margin: 0px;
  background-color: rgb(0, 0, 0);
  color: snow;
  padding: 12px;
  text-align: center;
}

.end a {
  text-align: center;
  color: snow;
}
.copy img{
    filter: invert();
}
/* Css for Table in webpage Menu */

.menutable table {
  border-collapse: collapse;
  border: 3px solid rgb(172, 171, 171);
  color: rgb(255, 255, 255);
  width: 100%;
  padding-bottom: 12px;
  margin-bottom: 12px;
}

.menutable table th {
  border-collapse: collapse;
  background-color: rgb(131, 131, 131);
  color: rgb(255, 255, 255);
  font-size: 22px;
  text-align: center;
}

.menutable table tr {
  border-collapse: collapse;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(59, 59, 59);
  color: snow;
  font-size: 15px;
  text-align: left;
}

.menutable table td {
  border-collapse: collapse;
  border: 2px solid rgb(0, 0, 0);
  color: snow;
  font-size: 15px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #c71717;
  border: 2px;
}
/*  table heading */
.menutable table th:hover {
  cursor: pointer;
  background-color: cornsilk;
  color: crimson;

  transform: scale(1.1);
}
/* Table row */
.menutable table tr:hover {
  background-color: rgb(197, 2, 2);
}
/* table data */
.menutable table td:hover {
  padding-left: 44px;
  transform: scale(1.1);
}

/* H2 heading for menu bar */
.menutable h2 {
  color: rgb(0, 0, 0);
  margin: auto;
  width: 200px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 9px;
}
.menutable h2:hover {
  color: rgb(255, 0, 0);
  cursor: pointer;
  transform: scale(1.1);
}

/* Contact us */
.contact{
    text-align: center;
}
.contact img{
    align-items: center;
}
.contact a{
    display: block;
}